body {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

code br:last-child {
	display: none
}

.demo-target {
	background: white;
	clear: both;
	border: 1px solid #AAA;
	width: 300px;
	height: 300px;
}

.demo {
	text-align: left
}

.demo-divider {
	margin: 40px 0
}

.demo-docs-link {
	display: inline-block;
	margin-top: 20px
}

.char-select-form {
	margin-bottom: 20px
}

.demo-controls {
	border: 1px solid #AAA;
	padding: 10px;
	width: 300px
}

.demo-controls .btn {
	margin-left: 20px
}

.character-select {
	width: auto !important;
	display: inline-block !important
}

.inline-demo-btn {
	width: 100px;
	margin-top: 3px
}

.inline-demo-flex {
	display: flex
}

.bb-img {
	margin-left: 20px;
	margin-top: 10px;
}